
#p2{
    width: 35%;
    position: relative;
    left: 30em;
}
.title{
    width: 50%;
    font-size: 50px;
    position: absolute;
    bottom: 9em;
    left: 1em;
    color: black;
}
.txt{
    position: absolute;
    bottom: 24em;
    left: 7.8em;
}
.button{
    position: absolute;
    bottom: 24em;
    left: 7.8em;
}